body, html {
    background-color: #f5f5f5;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! */
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.content-centered {
    float: none;
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

.full {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.m0p0 {
    margin: 0;
    padding: 0;
}

div#mainContainer {
    position: absolute;
    top: 48px;
    left: 0px;
    width: 100%;
}

div#main {
    background-color: rgba(255, 255, 255, 0.57);
    height: 104px;
    width: 100%;
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

div#statusSignal {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: 48px;
    left: 39px;
}

.statusGood {
    background-color: #4CAF50;
}

.statusBad {
    background-color: #F44336;
}

span#mapMarker {
    position: absolute;
    top: 42px;
}

p#status1 {
    font-size: 15px;
    margin-top: 6px;
    font-style: italic;
    color: #969696;
}

h3#speed {
    margin: 0;
}

span#mapMarker {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 53px;
    font-size: 18px;
}

@keyframes blink {
    0% {
        color: #4CAF50;
    }
    100% {
        color: #F44336;
    }
}

@-webkit-keyframes blink {
    0% {
        color: #4CAF50;
    }
    100% {
        color: #F44336;
    }
}

.blink {
    -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}

span#mapMagnet {
    position: absolute;
    top: 43px;
    left: 96px;
    cursor: pointer;
}

.inactive {
    color: #9a9a9a;
}

.active {
    color: #3b3b3b;
}
